<div class="resume-main resume-col resume-col-12 resume-col-lg-8 resume-col-xl-9 resume-pr-0 resume-pr-lg-5">

    {{ if .Site.Data.resume.experience.enable }}

        <section class="work-section resume-py-3 resume-experience">

            <h3 class="resume-text-uppercase resume-section-heading resume-mb-4">{{ i18n "experiences" }}</h3>

            {{ range .Site.Data.resume.experience.list }}
            <div class="item resume-mb-3">
                <div class="item-heading resume-row resume-align-center resume-mb-2">
                    <h4 class="item-title resume-col resume-col-12 resume-col-md-6 resume-col-lg-6 resume-mb-2">{{ .title }}</h4>
                    <div class="item-meta resume-col resume-col-12 resume-col-md-6 resume-col-lg-6 resume-text-muted resume-text-left resume-text-md-right">{{ .company }} | {{ .dates }}</div>
                </div>
                <div class="item-content">
                    <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
                    <ul class="resume-list">
                        {{ range .items }}
                        <li>{{ with .details }}{{ . | markdownify }}{{ end }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div><!--//item-->
        {{ end }}

    </section><!--//work-section-->
    {{ end }}

    {{ if .Site.Data.resume.projects.enable }}
        <section class="project-section resume-py-3 resume-projects">

            <h3 class="resume-text-uppercase resume-section-heading resume-mb-4">{{ i18n "projects" }}</h3>

            {{ range .Site.Data.resume.projects.list }}
            <div class="item resume-mb-3">
                <div class="item-heading resume-row resume-align-center resume-mb-2">
                    <h4 class="item-title resume-col resume-col-12 resume-col-md-6 resume-col-lg-8 resume-mb-2">{{ .title }}</h4>
                    <div class="item-meta resume-col resume-col-12 resume-col-md-6 resume-col-lg-4 resume-text-muted resume-text-left resume-text-md-right">{{ .meta }}</div>
                </div>
                <div class="item-content">
                    <p>{{ .tagline }}</p>
                </div>
            </div><!--//item-->
            {{ end }}

        </section><!--//project-section-->
    {{ end }}

    {{ if .Site.Data.resume.information.enable }}

        <section class="project-section resume-py-3 resume-information">

            <h3 class="resume-text-uppercase resume-section-heading resume-mb-4">{{ i18n "information" }}</h3>

            {{ range .Site.Params.information.list }}
            <div class="item resume-mb-3">
                <div class="item-heading resume-row resume-align-center resume-mb-2">
                    <h4 class="item-title resume-col resume-col-12 resume-col-md-12 resume-col-lg-12 resume-mb-2">{{ .title }}</h4>
                </div>
                <div class="item-content">
                    <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
                    <ul class="resume-list-unstyled resume-skills-list">
                        {{ range .items }}
                        <li class="resume-mb-2">{{ with .details }}{{ . | markdownify }}{{ end }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div><!--//item-->
            {{ end }}

        </section><!--//project-section-->
    {{ end }}

</div><!--//resume-main-->
