
                <div class="resume-header">

                    {{ if .Site.Data.resume.profile.enable }}
                        <h1 class="resume-name">{{ .Site.Data.resume.profile.name }}</h1>
                        <h2 class="resume-tagline">{{ .Site.Data.resume.profile.tagline }}</h2>
                    {{ end }}

                    {{ if .Site.Data.resume.contact.enable }}
                        <h4 class="resume-contact-heading">
                            {{ range .Site.Data.resume.contact.list }}
                            <span class="resume-contact-item"><a class="resume-link" href="{{ .url | safeURL }}">{{ .text }}</a></span>
                            {{ end }}
                            <span class="resume-contact-item">{{ .Site.Data.resume.contact.location }}</span>
                        </h4>
                    {{ end }}

                </div><!--//resume-header-->
